<html>
	<head>
		<style>
			.main{ width:800px; margin:100px auto;}
			ul{list-style:none; margin:0px; padding:0px; }
			li{float:left; margin: 10px; width: 150px; height: 200px; padding:0px;}
		</style>
	</head>
	<body>
		<div class="main">
			<%= yield %>
		</div>
	</body>
</html>